:root {
    --cor-primaria: #1B98E0;
    --cor-secundaria: #247BA0;
    --cor-branca: #E8F1F2;
    --cor-fundo-escuro: #13293D;
    --cor-fundo-intermediario: #003947;
    --cor-fundo-claro: #006494;
}

:root {
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-maior: 4.5rem ;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
}

:root {
    --padding-mobile: 30px;
}