.habilidades .container-habilidades {
    text-align: center;
    justify-content: center;
}

.habilidades .container-habilidades .habilidade {
    min-width: 300px;
    padding: 40px 50px;
    margin: 20px;
}

.habilidades .container-habilidades .habilidade h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
}

.habilidades .container-habilidades .habilidade ul {
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    line-height: 30px;
}

.habilidades .container-habilidades .habilidade i {
    font-size: 8rem;
}

.habilidade .html-title,
.habilidade .html-icon {
    color: #e44d26;
}

.habilidade .css-icon,
.habilidade .css-title {
    color: #1572b6;
}

.habilidade .js-icon,
.habilidade .js-title {
    color: #f7df1e;
}

.habilidade .ts-icon,
.habilidade .ts-title {
    color: #3178c6;
}

.habilidade .react-icon,
.habilidade .react-title {
    color: #61dafb;
}

.habilidade .jest-icon,
.habilidade .jest-title {    
    color: #C21325;
}

.habilidade .git-icon,
.habilidade .git-title {
    color: #f1502f;
}

.habilidade .github-icon,
.habilidade .github-title {
    color: #181717;
}

.habilidades .container-habilidades .habilidade ul,
.habilidades .container-habilidades .habilidade h3,
.habilidades .container-habilidades .habilidade .logo i{
    transition: all .3s ease;
}

.habilidades .container-habilidades .habilidade:hover ul,
.habilidades .container-habilidades .habilidade:hover h3,
.habilidades .container-habilidades .habilidade:hover .logo i{
    color: var(--cor-primaria);
}



